
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        Version #{APPVERSION}#
    </div>
    <strong>Copyright &copy; 2019 <a href="https://ipb.ac.id" target="_blank">IPB University</a></strong>
</footer>
