@{
    ViewBag.Title = "";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12" style="padding-top:100px;padding-bottom:150px;">
                        <center>
                            <i class="fa fa-exclamation-circle fa-4x text-red"></i>
                            <h2 style="font-stretch:wider;">
                                <b style="font-size:larger">Whoooppsss!!</b>
                                <br />
                                Error 401 : Unauthorised Request
                                <br />
                                You do not have permission to access the requested resource due to security restrictions.
                                In order to gain access, please speak to your system administrator.
                            </h2>
                        </center>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
