@model Ormawa.ViewModels.UploadViewModel
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: black;
        }

        * {
            box-sizing: border-box;
        }

        /* Add padding to containers */
        .container {
            padding: 16px;
            background-color: white;
        }

        /* Full-width input fields */
        input[type=text], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

            input[type=text]:focus, input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit button */
        .registerbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

            .registerbtn:hover {
                opacity: 1;
            }

        /* Add a blue text color to links */
        a {
            color: dodgerblue;
        }

        /* Set a grey background color and center the text of the "sign in" section */
        .signin {
            background-color: #f1f1f1;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Pengajuan Proposal</h1>
        <p>Isi data berikut serta lampirkan proposal</p>
        <hr>

        <label for="Kegiatan"><b>Nama Kegiatan</b></label>
        <input type="text" placeholder="Nama Kegiatan" name="Kegiatan" required>

        <label for="TipeKegiatanOrmawa"><b>Tipe Kegiatan</b></label>
        <input type="text" placeholder="Tipe Kegiatan" name="TipeKegiatanOrmawa" required>

        <label for="JenisKegiatanOrmawa"><b>Jenis Kegiatan</b></label>
        <input type="text" placeholder="Jenis Kegiatan" name="JenisKegiatanOrmawa" required>

        <label for="PenanggungJawabID"><b>Penanggung Jawab Acara</b></label>
        <input type="text" placeholder="Nama Penanggung Jawab" name="PenanggungJawabID" required>

        <label for="DanaAnggaran"><b>Dana Anggaran</b></label>
        <input type="text" placeholder="Dana Anggaran" name="DanaAnggaran" required>

        <label for="Upload"><b>Upload Dokumen</b></label>
        <form role="form" enctype="multipart/form-data" method="post" asp-controller="Upload" asp-action="MultipleFiles">
            <input asp-for="Nama" placeholder="Nama Dokumen" name="Nama" required />
            <input asp-for="FileDokumen" type="file" />
            <hr />
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>

